/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require jquery-ui-timepicker-addon
 *= require jquery-ui.structure.min.css
 *= require jquery-ui.theme.min.css

 *= require_tree .
 *= require_self
 */
/*
 * Variables
 */
$base_blue: #428bca;
$sidebar_bg: #f5f5f5;
$link_hover_color: #2a6496;
$link_color: #428bca;
$link_bg_hover_color: #eeeeee;
$border_colors: #9a9a9a;
$logo_bg_color: #4270d9;
$logo_fg_color: #8caaee;
$table-bg-accent: #f9f9f9;
$screen-sm-min: 796px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 10px;
}

/*
 * Global add-ons
 */
header {
  margin-bottom: -10px;
}

.navbar-toggle:hover {
  background-color: #eee;
}
.icon-bar {
  background-color: #2f2f2f;
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid $link_bg_hover_color;
}

/*
 * Top navigation
 */
.navbar-fixed-top {
  border: 0;
}
.navbar {
  border-bottom: 2px solid $sidebar_bg;
  ul.nav {
    margin-top: 15px;
  }
}

/*
 * Logo
 */
#logo {
  background-image: url(<%= asset_path 'logo_transparent_sm.png' %>);
  width: 195px;
  height: 100px;
  margin-top: -15px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: inherit;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: $sidebar_bg;
    border-right: 1px solid $link_bg_hover_color;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: $base_blue;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }

}

.main .page-header {
  margin-top: 0;
}

.locality {
  color: $base_blue;
}

.locality_nav {
  text-align: right;
  list-style: none;
  li a {
    color: $border_colors;
  }
  li a:hover {
    color: $base_blue;
  }
}

/*
 * Graphs dashboard ideas
 */

.graph {
  margin-bottom: 30px;
  text-align: center;
}

.graph h4 {
  margin-bottom: 0;
}

.graph {
  margin-bottom: 20px;
}

.graph img {
  display: inline-block;
}

.radio {
  margin-top: 0;
}

//Fixes issue with datepicker showing under fixed header
#ui-datepicker-div {
  z-index: 2000 !important;
}

textarea.form-control {
  margin-top: 0.7em;
}

form {
  select {
    display: block;
  }
  textarea {
    margin-top: 0.5em;
  }
}

.btn-group > form.button_to {
  display: inline;
  div {
    display: inline;
  }
}

.toggleable, .toggleable:hover {
  background-color: #EFEFEF;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 0;
  .slide-panel {
    margin: 0;
    padding: 0;
    background-color: #EFEFEF;
  }
}

.even {
  background-color: $table-bg-accent;
}

.odd {
  background-color: transparent;
}

.action-col {
  width: 35%;
}

tr a.label.label-info {
  padding-top: .4em;
  padding-bottom: .5em;
}
.field_with_errors {
  color: red;
}

@media (min-width: $screen-md-min) {
  .meeting_time {
    width: 50%;
  }
}

div.footer-nav-wrapper {
  background: #efefef;
  border-radius: 2px;
  border-top: 1px solid $border_colors;
  border-bottom: 1px solid $border_colors;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  box-sizing: border-box;
}

div.footer-nav {
  ul {
    font-size: 1em;
    padding: 0;
    list-style: none;
    li {
      a {
        color: #8e8e8e;
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}

div.copyright {
  color: #8e8e8e;
}

@media (min-width: 768px) {
  div.footer-nav {
    ul {
      li {
        display: inline;
        padding: .5em;
      }
    }
  }
  div.copyright {
    text-align: right;
  }
  div.footer-nav, div.copyright {
    margin-top: -8px;
    font-size: 75%;
  }
}

.footnote {
  padding-bottom: 1em;
}
@media (min-width: 1200px) {
  .footnote {
    margin-left: 1.4em;
  }
}

