<% cache user_meeting do %>
  <tr class="<%= (user_meeting_counter % 2 ==0) ? 'even' : 'odd' %>" id="table_data">
    <td><%= get_meeting_id_link(user_meeting, user_meeting.id) %></td>
    <td><%= fulltime(user_meeting.meeting_time) %></td>
    <td><%= get_obj_name(user_meeting.speaker.religion) %></td>
    <td><%= user_meeting.speaker.name %></td>
    <td><%= get_obj_name(user_meeting.speaker.organization) %></td>
    <td>
      <div class="btn-group">
        <%= button_to locality_user_meeting_path(user_meeting.locality, user_meeting), method: :get, id: "show_meeting_#{user_meeting.id}", class: 'btn btn-primary btn-xs hide hide-panel' do %>
          <span class="glyphicon glyphicon-eye-open"></span> More Detail
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.has_role?(:admin) %>
            <%= link_to(edit_locality_user_meeting_path(user_meeting.locality, user_meeting), class: 'label label-info', role: 'button') do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr class="toggleable">
    <td colspan="7">
      <div class="slide-panel">
        <div class="col-lg-3">
          <h4>Meeting Links</h4>
          <ul>
            <li><%= get_meeting_id_link(user_meeting, 'Single Record View') %></li>
            <li><%= get_meeting_links 'Meeting', user_meeting.meeting_url %></li>
            <li><%= get_meeting_links 'Minutes', user_meeting.minutes_url %></li>
            <li><%= get_meeting_links 'Agenda', user_meeting.agenda_url %></li>
            <li><%= get_meeting_links 'Media', user_meeting.media_url %></li>
            <li><%= get_meeting_links 'Attachment', user_meeting.attachment %></li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
  <tr class="toggleable">
    <td colspan="7">
      <div class="slide-panel">
        <div class="col-lg-3">
          <h4>Meeting Links</h4>
          <ul>
            <li><%= get_meeting_id_link(user_meeting, 'Single Record View') %></li>
            <li><%= get_meeting_links 'Meeting', user_meeting.meeting_url %></li>
            <li><%= get_meeting_links 'Minutes', user_meeting.minutes_url %></li>
            <li><%= get_meeting_links 'Agenda', user_meeting.agenda_url %></li>
            <li><%= get_meeting_links 'Media', user_meeting.media_url %></li>
            <li><%= get_meeting_links 'Attachment', user_meeting.attachment %></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <h4>Explanations</h4>
          <ul>
            <li><strong>Preached:</strong>
              <p><%= user_meeting.speaker_preached_explanation %></p>
            </li>
            <li><strong>Praised:</strong>
              <p><%= user_meeting.speaker_praised_explanation %></p>
            </li>
            <li><strong>Concerns:</strong>
              <p><%= user_meeting.concerns %></p>
            </li>
          </ul>
        </div>
        <div class="col-lg-3">
          <h4>Other</h4>
          <ul>
            <li><strong>Invocation:</strong> <%= user_meeting.invocation_conducted %></li>
            <li><strong>Pending:</strong> <%= user_meeting.pending? %></li>
            <li><strong>Submitted by:</strong> <%= user_meeting.user.full_name %></li>
            <li><strong>Locality:</strong> <%= link_to user_meeting.locality.name, locality_path(user_meeting.locality) %></li>
            <li><strong>Meeting Type:</strong> <%= user_meeting.meeting_type %></li>
            <li><strong>Speaker:</strong> <%= link_to user_meeting.speaker.name, speaker_path(user_meeting.speaker) %></a></li>
            <li><strong>Organization:</strong> <%= get_obj_name(user_meeting.speaker.organization) %> </li>
            <li><strong>Religion:</strong> <%= get_obj_name(user_meeting.speaker.religion) %> </li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
<% end %>
