<% page_name "Meeting #{@user_meeting.id}" %>
<div class='row'>
  <div class='col-lg-10 col-lg-offset-1'>
    <h3 class="page-header">Showing Meeting <%= @user_meeting.id %></h3>
    <p><%= link_to(raw('<span class="glyphicon glyphicon-arrow-left"></span> Back to list'), :back ) %></p>
    <table class="table table-bordered table-striped">
      <thead>
      <th width="25%">Field</th>
      <th>Value</th>
      </thead>
      <tbody>
      <tr>
        <th>Meeting ID</th>
        <td>
          <%= @user_meeting.id %>
        </td>
      </tr>
      <tr>
        <th>Meeting Time</th>
        <td>
          <%= fulltime(@user_meeting.meeting_time) %>
        </td>
      </tr>
      <tr>
        <th>Was an incvocation conducted?</th>
        <td>
          <%= @user_meeting.invocation_conducted %>
        </td>
      </tr>
      <tr>
        <th>Were people asked to pldege?</th>
        <td>
          <%= @user_meeting.pledge_before %>
        </td>
      </tr>
      <tr>
        <th>Were people asked to stand?</th>
        <td>
          <%= @user_meeting.asked_to_stand %>
        </td>
      </tr>
      <tr>
        <th>Did the speaker preach?</th>
        <td>
          <%= @user_meeting.speaker_preached %>
        </td>
      </tr>
      <tr>
        <th>Explanation</th>
        <td>
          <%= @user_meeting.speaker_preached_explanation %>
        </td>
      </tr>
      <tr>
        <th>Was the speaker praised?</th>
        <td>
          <%= @user_meeting.speaker_praised %>
        </td>
      </tr>
      <tr>
        <th>Explanation</th>
        <td>
          <%= @user_meeting.speaker_praised_explanation %>
        </td>
      </tr>
      <tr>
        <th>Meeting Status</th>
        <td>
          <%= @user_meeting.aasm_state %>
        </td>
      </tr>
      <!--todo pull in submitter name-->
      <tr>
        <th>Submitter</th>
        <td>
          <%= link_to @user_meeting.user.full_name, volunteer_path(@user_meeting.user_id) %>
        </td>
      </tr>
      <tr>
        <th>Database create date</th>
        <td>
          <%= fulltime(@user_meeting.created_at)%>
        </td>
      </tr>
      <tr>
        <th>Last updated</th>
        <td>
          <%= fulltime(@user_meeting.updated_at) %>
        </td>
      </tr>
      <!--todo pull in locality name-->
      <tr>
        <th>Locality</th>
        <td>
          <%= link_to @user_meeting.locality.name, locality_path(@user_meeting.locality_id) %>
        </td>
      </tr>
      <tr>
        <th>Meeting type</th>
        <td>
          <%= @user_meeting.meeting_type %>
        </td>
      </tr>
      <tr>
        <th>Meeting address</th>
        <td>
          <%= @user_meeting.street_address %>
        </td>
      </tr>
      <!--todo update to use speaker name and info-->
      <tr>
        <th>Speaker</th>
        <td>
          <%= link_to @user_meeting.speaker.name, speaker_path(@user_meeting.speaker_id) %>
        </td>
      </tr>
      <tr>
        <th>Concerns</th>
        <td>
          <%= @user_meeting.concerns %>
        </td>
      </tr>
      <tr>
        <th>Meeting URL</th>
        <td>
          <%= get_meeting_links 'Meeting URL', @user_meeting.meeting_url %>
        </td>
      </tr>
      <tr>
        <th>Minutes URL</th>
        <td>
          <%= get_meeting_links 'Minutes URL', @user_meeting.minutes_url %>
        </td>
      </tr>
      <tr>
        <th>Agenda URL</th>
        <td>
          <%= get_meeting_links 'Agenda URL', @user_meeting.agenda_url %>
        </td>
      </tr>
      <tr>
        <th>Media URL</th>
        <td>
          <%= get_meeting_links 'Media URL', @user_meeting.media_url %>
        </td>
      </tr>
      <tr>
        <th>Attachment</th>
        <td>
          <%= get_meeting_links 'Attachment', @user_meeting.attachment %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
